<!DOCTYPE html>

<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">

  <title>Teekonect Personal</title>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.js"></script>

  <link rel="stylesheet" href="/css/personal/bootstrap.css">
  <link rel="stylesheet" href="/css/personal/style.css">
  <link href="/fontawesome-free-6.0.0-web/css/fontawesome.css" rel="stylesheet">
  <link href="/fontawesome-free-6.0.0-web/css/brands.css" rel="stylesheet">
  <link href="/fontawesome-free-6.0.0-web/css/solid.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/personal/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/personal/simpleLightbox.css">
  <link rel="stylesheet" href="/css/personal/nice-select.css">
  <link rel="stylesheet" href="/css/personal/animate.css">
  <link rel="stylesheet" href="/css/personal/magnific-popup.css">
  <link rel="stylesheet" href="/css/personal/flaticon.css">

  <link rel="stylesheet" href="/css/personal/style(1).css">
  <link rel="stylesheet" href="/css/personal/responsive.css">

<body>



  <section class="home_banner_area" id="html-content-holder">
    <div class="container box_1620">
      <div style=" margin-bottom: 40px;">
        <img src="{{pro_user.logo}}" alt="..." class="rounded float-right" height="50" width="50">
        {{pro_user.organization}}
        <br>
        <p>[ {{pro_user.note}} ]</p>
        <hr>

      </div>
      <div class="banner_inner d-flex align-items-center">

        <div class="banner_content">
          <div class="media">
            <div class="d-flex">
              <img src="{{pics}}" alt="" height="200">
            </div>
            <div class="media-body">
              <div class="personal_text">
                <h6>Hello, i am</h6>
                <h3>{{pro_user.first_name}} {{pro_user.last_name}}</h3>
                <h4>{{pro_user.role}}</h4>

                <ul class="list basic_info">
                  <li><a href="tel:{{pro_user.cellphone}}"><i class="fa-solid fa-phone"></i></i>
                      {{pro_user.cellphone}}</a></li>
                  <li><a href="mailto:{{pro_user.email}}"><i class="fa-solid fa-envelope"></i>{{pro_user.email}} </a>
                  </li>
                  <li><a href=""><i class="fa-solid fa-location"></i> {{pro_user.street}} {{pro_user.city}}
                      {{pro_user.state}}, {{pro_user.country}}</a></li>
                </ul>

                <ul class="list personal_social">
                  <li><a href="https://www.facebook.com/{{pro_user.facebook}}"><i class="fa-brands fa-facebook"></i></a>
                  </li>
                  <li><a href="https://www.twitter.com/{{pro_user.twitter}}"><i class="fa-brands fa-twitter"></i></a>
                  </li>
                  <li><a href="https://www.linkedin.com/{{pro_user.linkedin}}"><i class="fa-brands fa-linkedin"></i></a>
                  </li>
                  <li><a href="https://www.instagram.com/{{pro_user.instagram}}"><i
                        class="fa-brands fa-instagram"></i></a></li>
                  <li><a href="whatsapp://send?text=hi from teekonect &phone={{pro_user.whatsapp}}"><i
                        class="fa-brands fa-whatsapp"></i></a></li>

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="floating-button-div">
      <button class="fb" id="fbvcard"><i class="fa-solid fa-address-card fa-2x"></i></button>
    </div>
  </section>





  <section class="mytabs_area p_120">
    <div class="container">
      <div class="tabs_inner">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <!-- <li class="nav-item">
<a class="nav-link active"   data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Open with Contact</a>
</li> -->
          <!-- <li class="nav-item">
  <a id="btn-Convert-Html2Image" href="#">Download Image</a>
</li> -->
<li class="nav-item">
  <a id="c_open" >Save to Contact</a>
</li>

          <li class="nav-item">
            <a id="t_open" >Open with Teekonect</a>
          </li>

        </ul>

      </div>

    </div>

  </section>





  <script src="/js/personal/popper.js"></script>
  <script src="/js/personal/bootstrap.min.js"></script>
  <script src="/js/personal/stellar.js"></script>
  <script src="/js/personal/simpleLightbox.min.js"></script>
  <script src="/js/personal/jquery.nice-select.min.js"></script>
  <script src="/js/personal/imagesloaded.pkgd.min.js"></script>
  <script src="/js/personal/isotope.pkgd.min.js"></script>
  <script src="/js/personal/owl.carousel.min.js"></script>
  <script src="/js/personal/jquery.magnific-popup.min.js"></script>
  <script src="/js/personal/jquery.ajaxchimp.min.js"></script>
  <script src="/js/personal/jquery.waypoints.min.js"></script>
  <script src="/js/personal/jquery.counterup.min.js"></script>
  <script src="/js/personal/mail-script.js"></script>
  <script src="/js/personal/vcard.js"></script>
  <script>
    $(document).ready(function () {

      var floatingButtonContainer = document.querySelector('.floating-button-div');
      var scrollY = window.scrollY;


      // Without helper methods
      var myContact = vCard.create(vCard.Version.THREE)
      myContact.add(vCard.Entry.NAME, "{{pro_user.first_name}};{{pro_user.last_name}};;")
      myContact.add(vCard.Entry.FORMATTEDNAME, "{{pro_user.first_name}} {{pro_user.last_name}}")
      myContact.add(vCard.Entry.NICKNAME, "")
      myContact.add(vCard.Entry.TITLE, "{{pro_user.prefix}}")
      myContact.add(vCard.Entry.PHONE, "{{pro_user.cellphone}}", vCard.Type.CELL)
      myContact.add(vCard.Entry.PHONE, "{{pro_user.workphone}}", vCard.Type.WORK)
      myContact.add(vCard.Entry.EMAIL, "{{pro_user.email}}", vCard.Type.WORK)
      myContact.add(vCard.Entry.EMAIL, "{{pro_user.email}}", vCard.Type.HOME)
      myContact.add(vCard.Entry.ORGANIZATION, "{{pro_user.organization}}.")
      myContact.add(vCard.Entry.ADDRESS, ";;{{pro_user.street}};{{pro_user.city}};{{pro_user.state}};;{{pro_user.country}}", vCard.Type.HOME)
      myContact.add(vCard.Entry.URL, "{{pro_user.url}}")

      var link = vCard.export(myContact, "{{pro_user.first_name}} {{pro_user.last_name}}", true) // use parameter true to force download
      // document.body.appendChild(link)


      window.addEventListener('scroll', function () {
        scrollY = window.scrollY;
        floatingButtonContainer.style.top = scrollY + window.innerHeight - 150 + 'px';
      });

      var element = $("#html-content-holder"); // global variable
      var getCanvas; // global variable

      html2canvas(element, {
        allowTaint: true,
        useCORS: true,

        onrendered: function (canvas) {
          getCanvas = canvas;
        }
      });

      $("#btn-Convert-Html2Image").on('click', function () {
        var imgageData = getCanvas.toDataURL("image/png");
        // Now browser starts downloading it instead of just showing it
        var newData = imgageData.replace(/^data:image\/png/, "data:application/octet-stream");
        $("#btn-Convert-Html2Image").attr("download", "your_pic1_name.png").attr("href", newData);
      });

      $("#fbvcard").on('click', function () {
        link.click();
      });

      $("#t_open").on('click', function () {
        event.preventDefault();
        window.location.href = getMobileOS();

      });
      $("#c_open").on('click', function () {
        link.click();
      });


      const getMobileOS = () => {
        const ua = navigator.userAgent
        if (/android/i.test(ua)) {
          return "https://play.google.com/store/apps/details?id=com.teekonect.social"
        }
        else if ((/iPad|iPhone|iPod/.test(ua)) || (navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)) {
          return "https://apps.apple.com/jp/app/teekonect/id6444363357"
        }
        return "https://www.briisi.com/teekonect"
      }


    });



  </script>

</body>

</html>