{% extends "dashboard/layout.twig" %}

{% block content %}
<div class="row">
    <p class="head1">Teekonect FAQs</p>
  </div>
    <div class="row">
        <div class="col-12" id="accordion">
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseOne">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            1. What is Teekonnect?
                        </h4>
                    </div>
                </a>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        Teekonnect is a digital platform that revolutionizes networking by offering comprehensive digital solutions for personal and corporate branding. It replaces traditional business cards with a dynamic, efficient, and secure digital alternative.
                    </div>
                </div>
            </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            2.How does Teekonnect enhance networking experiences?
                        </h4>
                    </div>
                </a>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Teekonnect streamlines networking by allowing users to create digital identities with up-to-date contact information, link social media handles, and share their information seamlessly, ensuring accurate and real-time communication.
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="head1">Creating and Customizing Digital Identities</p>
               
              </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            3.  How do I create a digital identity on Teekonnect?
                        </h4>
                    </div>
                </a>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Users can sign up on the Teekonnect platform and either choose from existing templates or customize their digital card with personal and corporate branding elements.
                    </div>
                </div>
            </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            4. Can I personalize my Teekonnect digital card?
                        </h4>
                    </div>
                </a>
                <div id="collapseFour" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes, Teekonnect allows for the full personalization of digital cards to reflect unique branding and professional images.
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="head1">Information Integration and Updates</p>
               
              </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseFive">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            5. What kind of information can I integrate into my Teekonnect card?
                        </h4>
                    </div>
                </a>
                <div id="collapseFive" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Users can input their names, and contact details, including phone numbers, email addresses, and physical address(es), and link their social media handles for seamless integration.
                    </div>
                </div>
            </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseSix">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            6. What happens when I update my contact details on Teekonnect?
                        </h4>
                    </div>
                </a>
                <div id="collapseSix" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        When you change your contact details on Teekonnect, these updates are automatically shared with everyone who has your digital card, ensuring they always have your latest information.

                    </div>
                </div>
            </div>
            <div class="row">
                <p class="head1">Networking and Communication</p>
               
              </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseSeven">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            7. How do I share my Teekonnect card?
                        </h4>
                    </div>
                </a>
                <div id="collapseSeven" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Users can share their digital card by merely scanning the QR code either through the Teekonnect app or directly from the mobile phone camera. It is that simple and seamless - replacing the need for traditional business cards and their associated pain points.
                    </div>
                </div>
            </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseEight">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            8. Can I make calls or send messages directly through Teekonnect?
                        </h4>
                    </div>
                </a>
                <div id="collapseEight" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        Yes, you can. With Teekonnect, you can call phone numbers directly from the app for quick communication. You can also connect instantly to social media profiles like LinkedIn, WhatsApp, Instagram, and others, for messaging.
                    </div>
                </div>
            </div>
            <div class="card card-success card-outline">
                <a class="d-block w-100" data-toggle="collapse" href="#collapseNine">
                    <div class="card-header">
                        <h4 class="card-title w-100">
                            9. Do both parties need the Teekonnect App to share and receive digital cards?
                        </h4>
                    </div>
                </a>
                <div id="collapseNine" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        No, it's not necessary. If someone shares their digital card with you and you haven't downloaded the Teekonnect App yet, you can still save their digital card as a regular contact on your phone.
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="head1">Advanced Features</p>
               
              </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseTen">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    10. What additional features does Teekonnect offer for event management?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseTen" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Teekonnect provides an add-on feature for event attendance and roll-call management, streamlining tracking attendees during events.
                            </div>
                        </div>
                    </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseEleven">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    11. How does the location-sharing feature work in Teekonnect?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseEleven" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Users can include their physical address on their Teekonnect card, and the live location-sharing feature guides clients or contacts to their location effortlessly.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="head1">Security and Storage</p>
                       
                      </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseTwelve">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    12. Does Teekonnect offer insights and analytics?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseTwelve" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Yes, Teekonnect can provide insights into networking patterns and interactions, helping users refine their networking strategies.
                            </div>
                        </div>
                    </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseThirteen">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    13. How does Teekonnect ensure data security?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseThirteen" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Teekonnect offers enhanced data security, providing a higher level of protection compared to physical business cards.   
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p class="head1">Transitioning to Digital</p>
                       
                      </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseForten">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    14. Is there a limit to how many digital cards I can store on Teekonnect?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseForten" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                No, Teekonnect provides unlimited digital card storage, accommodating an expanding network without constraints.
                            </div>
                        </div>
                    </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapsefiften">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    15. How can I transition from paper cards to Teekonnect?
                                </h4>
                            </div>
                        </a>
                        <div id="collapsefiften" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Users can digitize their existing paper cards easily, making the transition from physical to digital networking smooth and efficient.

                            </div>
                        </div>
                    </div>
                    <div class="card card-success card-outline">
                        <a class="d-block w-100" data-toggle="collapse" href="#collapseSixten">
                            <div class="card-header">
                                <h4 class="card-title w-100">
                                    16. Is Teekonnect suitable for both personal and corporate use?
                                </h4>
                            </div>
                        </a>
                        <div id="collapseSixten" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                Absolutely, Teekonnect is designed to cater to both personal and corporate networking needs, ensuring a professional and efficient networking experience.
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    
    {% endblock %}

    {% block js%}
    <script src="/plugins/ekko-lightbox/ekko-lightbox.min.js"></script>
    {%endblock%}